extends layout

block content
    h1 Contact Informations
    button 
    form
        div
            span Id:
            input(type="text" placeholder=Id disabled="yes")
        div
            span firstname:
            input(type="text" placeholder=Id disabled="yes")
        div
            span lastname:
            input(type="text" placeholder=Id disabled="yes")
        div
            span birth date:
            input(type="text" placeholder=Id disabled="yes")
        div
            span company:
            input(type="text" placeholder=Id disabled="yes")


    button Edit the contact