extends layout
block head
    script(src="/javascripts/user.js")

block content
    h1 Contact Informations
    a(href="/")
        button Back
    hr

    form( method="post" enctype="application/json")
        div
            label Id:
            input(class="input" id="id" type="text" value=Id disabled)
        div
            label firstname:
            input(class="input data" type="text" value=fname name="firstName" disabled)
        div
            label lastname:
            input(class="input data" type="text" value=lname name="lastName" disabled)
        div
            label birth date:
            input(class="input data" type="date" value=bday name="birthDate" disabled)
        div
            label company:
            input(class="input data" type="text" value=company name="company" disabled)
        div(id="emails")
            label email(s):
            input(class="input data" type="email" value=emails name="emails[0][email]" disabled)
            select( class="data" name="emails[0][type]" disabled)
                option( value="PRO" ) PRO
                option( value="PERSONNAL" ) PERSONNAL
            button(id="addEmail" type="button" disabled) +
        div
            label addresse(s):
            div(id="addressDiv")
                div(class="addressBox")
                    label Street number:
                    input(class="address data" type="number" name="addresses[0][streetNb]" disabled)
                div(class="addressBox")
                    label Street type:
                    select( class="data" name="addresses[0][streetType]" disabled)
                        option( value="ROAD" ) Road
                        option( value="AVENUE" ) Avenue
                        option( value="DEAD END" ) Dead end
                div(class="addressBox")
                    label Street name:
                    input(class="address data" type="text" name="addresses[0][street]" disabled)
                br
                div(class="addressBox")
                    label City:
                    input(class="address data" type="text" name="addresses[0][city]" disabled)
                div(class="addressBox")
                    label State:
                    input(class="address data" type="text" name="addresses[0][state]" disabled)
                div(class="addressBox")
                    label Zip code:
                    input(class="address data" type="number" name="addresses[0][zipCode]" disabled)
                br
                div(class="addressBox")
                    label Country:
                    input(class="address data" type="text" name="addresses[0][country]" disabled)
                div(class="addressBox")
                    label Type:
                    select( class="data" name="addresses[0][type]" disabled)
                        option( value="PRO" ) PRO
                        option( value="PERSONNAL" ) PERSONNAL
            button(id="addAddress" type="button" disabled) +

        button(type="button" id="save" disabled ) Save changes

    hr
    button(id="edit") Edit the contact
