extends layout
block head
    script(src="/javascripts/user.js")

block content
    h1 Contact Informations
    a(href="/")
        button Back
    hr

    form( method="post" )
        div
            label Id:
            input(type="text" value=Id disabled="yes")
        div
            label firstname:
            input(class="input" type="text" value=fname name="firstName" disabled="yes")
        div
            label lastname:
            input(class="input" type="text" value=lname name="lastName" disabled="yes")
        div
            label birth date:
            input(class="input" type="text" value=bday name="birthDate" disabled="yes")
        div
            label company:
            input(class="input" type="text" value=company name="company" disabled="yes")
        div(id="emails")
            label emails:
            input(class="input" type="text" value=emails name="email1" disabled="yes")
            select( name="typeEmail" )
                option( value="PRO" ) PRO
                option( value="PERSONNAL" ) PERSONNAL
            button(id="addEmail" type="button") +
        div
            label addresses:
            input(class="input" type="text" value=addresses name="addresses" disabled="yes")
            select( name="type" )
                option( value="PRO" ) PRO
                option( value="PERSONNAL" ) PERSONNAL


        button(type="submit" id="save" disabled) Save changes

    hr
    button(id="edit") Edit the contact
