extends layout
block head
    script(src="/javascripts/user.js")

block content
    h1 Contact Informations
    a(href="/")
        button Back
    hr

    form
        div
            span Id:
            input(class="input" type="text" value=Id disabled="yes")
        div
            span firstname:
            input(class="input" type="text" value=fname disabled="yes")
        div
            span lastname:
            input(class="input" type="text" value=lname disabled="yes")
        div
            span birth date:
            input(class="input" type="text" value=bday disabled="yes")
        div
            span company:
            input(class="input" type="text" value=company disabled="yes")
        div
            span emails:
            input(class="input" type="text" value=emails disabled="yes")

    hr
    button(id="edit") Edit the contact
    button(id="save" disabled) Save changes