extends layout
block head
    script(src="/javascripts/user.js")

block content
    div(class="row align-items-center justify-content-between")
        div(class="col col-sm-6")
            h1 Contact Informations
        a(class="col col-sm-1 " href="/")
            button( type="button" class="btn btn-primary") Back
    hr

    form( method="post" enctype="application/json")
        div(class="form-group row")
            label(class="col-sm-2 col-form-label") Id
            div(class="col-sm-8")
                input(readonly class="form-control-plaintext col-sm-12" id="id" type="text" value=Id )

        div(class="form-group row")
            label(class="col-sm-2 col-form-label") Firstname
            div(class="col-sm-8")
                input(class="data form-control" type="text" value=fname name="firstName" disabled)

        div(class="form-group row")
            label(class="col-sm-2 col-form-label") Lastname
            div(class="col-sm-8")
                input(class="data form-control" type="text" value=lname name="lastName" disabled)

        div(class="form-group row")
            label(class="col-sm-2 col-form-label") Birth date
            div(class="col-sm-8")
                input(class="data form-control" type="date" value=bday name="birthDate" disabled)

        div(class="form-group row")
            label(class="col-sm-2 col-form-label") Company
            div(class="col-sm-8")
                input(class="data form-control" type="text" value=company name="company" disabled)

        div(class="form-group row" )
            label(class="col-sm-2 col-form-label") Email(s)
            div(class="col-sm-7 form-row" id="emails")
                each email, i in emails
                    div(class="col-sm-12 form-row")
                        div(class="col-sm-9")
                            input(class="data form-control" type="email" value=email.email name="emails[0][email]" disabled)
                        select( class="data col-sm-3 custom-select" name="emails[0][type]" disabled)
                            case email.type
                                when "PERSONNAL"
                                    option( value="PRO" ) PRO
                                    option( value="PERSONNAL" selected) PERSONNAL
                                default
                                    option( value="PRO" selected) PRO
                                    option( value="PERSONNAL" ) PERSONNAL
                        br
                        br
                else
                    div(class="col-sm-12 form-row")
                        div(class="col-sm-9")
                            input(class="data form-control" type="email" value="" name="emails[0][email]" )
                        select( class="data col-sm-3 custom-select" name="emails[0][type]" )
                            option( value="PRO" ) PRO
                            option( value="PERSONNAL" ) PERSONNAL
                        br
                        br
            div(class="col-sm-2")
                div(class="btn-group" data-toggle="buttons")
                    button(id="addEmail" type="button" class="btn btn-outline-secondary" disabled) +
                    button(id="removeEmail" type="button" class="btn btn-outline-secondary" disabled) -

        div(class="form-group row")
            label(class="col-sm-2 col-form-label") addresse(s):

            div(class="col-sm-9" id="addressDiv")
                each address, i in addresses
                    div(class="form-row")
                        div(class="form-group col-md-4")
                            label Street n°:
                            input(class="data form-control" type="number" name="addresses[0][streetNb]" value=address.streetNb disabled)
                        div(class="form-group col-md-4")
                            label Street type:
                            br
                            select( class="data custom-select" name="addresses[0][streetType]" disabled)
                                case address.streetType
                                    when "DEAD END"
                                        option( value="ROAD" ) Road
                                        option( value="AVENUE" ) Avenue
                                        option( value="DEAD END" selected) Dead end
                                    when "AVENUE"
                                        option( value="ROAD" ) Road
                                        option( value="AVENUE" selected) Avenue
                                        option( value="DEAD END" ) Dead end
                                    default
                                        option( value="ROAD" selected) Road
                                        option( value="AVENUE" ) Avenue
                                        option( value="DEAD END" ) Dead end

                        div(class="form-group col-md-4")
                            label Street name:
                            input(class="data form-control" type="text" name="addresses[0][street]" pattern="[a-zA-Z]*" value=address.street disabled)

                    div(class="form-row")
                        div(class="form-group col-md-4")
                            label City:
                            input(class="data form-control" type="text" name="addresses[0][city]" value=address.city disabled)
                        div(class="form-group col-md-4")
                            label State:
                            input(class="data form-control" type="text" name="addresses[0][state]" value=address.state disabled)
                        div(class="form-group col-md-4")
                            label Zip code:
                            input(class="data form-control" type="number" name="addresses[0][zipCode]" value=address.zipCode disabled)

                    div(class="form-row")
                        div(class="form-group col-md-4")
                            label Country:
                            input(class="data form-control" type="text" name="addresses[0][country]" value=address.country disabled)
                        div(class="form-group col-md-4")
                            label Type:
                            br
                            select( class="data custom-select" name="addresses[0][type]" disabled)
                                case address.type
                                    when "PERSONNAL"
                                        option( value="PRO" ) PRO
                                        option( value="PERSONNAL" selected) PERSONNAL
                                    default
                                        option( value="PRO" selected) PRO
                                        option( value="PERSONNAL" ) PERSONNAL


            button(class="btn" id="addAddress" type="button" disabled) +

        button(type="button" class="btn" id="save" disabled ) Save changes

    hr
    button( type="button" class="btn" id="edit") Edit the contact

block footer
    br
    a(class="col col-sm-2 " href="/contact") Contact us
    br
    div(class="row justify-content-around")
        a( class="col-4" href="https://heroku.com/" )
            img( class="img" src="../images/built-on-heroku-dark.ef2aa337.svg" class="img-fluid mx-auto d-block")
        a( class="col-4" href="https://mlab.com/" )
            img( src="../images/mLab-logo-onlight.png"  class="img-fluid mx-auto d-block")
        a( class="col-4" href="https://nodejs.org/" )
            img( src="../images/nodejs-new-black.png" class="img-fluid mx-auto d-block")